body{
    padding: 0;
    margin:0;
    background: rgb(70, 95, 110);

}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.form-wrapper {
    margin: auto;
    margin-top: 100px;
    width: 350px;
    overflow: hidden;
    padding: 22px;
    background: #cfcece;
    border: 3px slategrey;
    border-radius: 10px;  
}
.form-wrapper .form-label{
    margin-left: 12px;
}

.form-wrapper input {
    border: 0px #888;
    border-radius: 7px;
    padding: 6px;
    margin-bottom: 12px;
    margin-left: 12px;
    width: 310px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.form-wrapper .btn {
    width: 100px;
    height: 40px;
    background-color: rgb(27, 124, 14);
    color: #ffffff;
    border-radius: 7px;
    border: 0px;
    font-size: 17px;
    text-align: center;
    margin-left: 120px;
    opacity: 1.0;
    transition: 0.4s;    
}

.btn:hover {
    opacity: 1
}

.profile-photo{
    margin: auto;
    margin-left: 140px;
    border-radius: 50%;
    width: 20%;
    border: rgb(139, 131, 131); 
}

header {    
    font-size: 22px;
	top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    color: white;
    width: 100%;
}

div .dashboard {
    width: 100%;
}

div .side-menu {
    box-sizing: border-box;
    float: left;
    background-color:#003366;
    width: 15%;
    height: 520px;
}

/* Style the buttons inside the side-menu */
.side-menu button {
    display: block;
    background-color: inherit;
    border: none;
    border-top : 1px solid #cccccc;
    color: #ffffff;
    padding: 22px 16px;
    width: 100%;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.4s;
    font-size: 20px;
    opacity: 0.5;
    transition: 0.2s;     
}

/* Increase the visbility of background color of buttons on hover */
.side-menu button:hover {
    opacity: 1.0; 
}

/* Change color of the active "side-menu button" class */
.side-menu button.active {
    background-color: #43688d;
}

/* Style the contents of each side-menu */
div .contents {
    border-top : 1px solid #003366;    
    background-color:#CCCCCC;
    box-sizing: border-box;
    float: left;
    padding: 0px 12px;
    width: 85%;
    border-left: none;
    height: 520px;
}

.table-title h2 {
    color: black;
}

table {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #b3aeae;
    text-align: center;
    padding: 10px;
}

td a{
    color: black;
}

/*Style odd numbered rows in the table 
with blue background and white text*/
tr:nth-child(odd) {
    background-color: #003366;
    color: #d1cece;
}

/*Style even numbered rows in the table 
with white background and black text*/
tr:nth-child(even) {
    background-color: #d1cece;
    color: black;
}